/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

.background {
    background: transparent;
}

#root-box, .background, #app-list, .overlay-indicator {
    background: transparent;
}

.app-row {
    transition: unset;
    margin: 1px 1px 5px 0px;
    border-radius: 10px;
    padding: 3px;
}


.app-row:hover:selected {
    background-color: alpha(white, 0.1);
}


.app-row:hover {
    background-color: alpha(white, 0.035);
}

.app-row:selected {
    background-color: alpha(white, 0.05);
}


.app-row:hover.selected {
    background-color: alpha(white, 0.1);
}

.app-label {
    margin-left: 10px;
}

#app-list {
   padding-right: 0px;
}


#root-box {
    min-width: 300px;
    margin-left: 5px;
}

scrollbar.vertical slider {
    background-color: alpha(white, 0.15);
}