* {
    font-family: Iosevka;
    font-size: 16px;
    background: transparent;
}

.app-row {
    transition: unset;
    margin: 5px;
}

.app-label {
    margin-left: 10px;
}

#search {
    background: green;
}

#root-box {
    min-width: 300px;
}